.chatPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.wrapper {
  flex: 1;
  overflow-y: auto; /* better than scroll */
  width: 100%;
  display: flex;
  justify-content: center;
}

.chat {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  p,li{
    margin: 10px 0px;
  }
}

.message {
  padding: 20px;
  background-color: #444; /* default AI message */
  border-radius: 20px;
  max-width: 80%;
  margin: 5px 0;
  color: white;
  align-self: flex-start; /* AI messages left */
}

.message.user {
  background-color: #2c2937;
  border-radius: 20px;
  max-width: 80%;
  margin: 5px 0;
  color: white;
  align-self: flex-end; /* user messages right */
}
