.chatPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.wrapper {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.chat {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 120px;
  /* Space for the fixed form */

  p,
  li {
    margin: 5px 0px;
  }
}

.message {
  padding: 15px 20px;
  background-color: #2c2937;
  border-radius: 20px;
  max-width: 85%;
  color: #ececec;
  align-self: flex-start;
  line-height: 1.5;
}

.message.user {
  background-color: #605e68;
  align-self: flex-end;
  color: white;
}

.message img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}